$nutmeg: hsl(14, 45%, 36%);
$dark_raspberry: hsl(332, 51%, 32%);
$white: hsl(0, 0%, 100%);
$rose_white: hsl(330, 100%, 98%);
$eggshell: hsl(30, 54%, 90%);
$light_grey: hsl(30, 18%, 87%);
$wenge_brown: hsl(30, 10%, 34%);
$dark_charcoal: hsl(24, 5%, 18%);

@mixin base-headers {
  font-family: "Young Serif", serif;
  font-weight: 400;
}

@mixin thin-bullet-points($color) {
  ul.thin-bullet-points {
    list-style-type: none;
    display: grid;
    gap: 0.75rem;
  }

  ul.thin-bullet-points > li {
    margin-left: 1ch;
    padding-left: 1.5rem;
    position: relative;
  }

  ul.thin-bullet-points > li::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -0.25rem;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background-color: $color;
  }
}

@mixin numeric-list($color) {
  ol.numbered-list {
    display: grid;
    gap: 0.75rem;
    list-style-type: none;
    counter-reset: li;
  }

  ol.numbered-list > li {
    margin-left: 1.5ch;
    padding-left: 1.45rem;
    position: relative;
  }

  ol.numbered-list > li::before {
    content: counter(li) ".";
    counter-increment: li;
    position: absolute;
    top: 0;
    left: -1ch;
    color: $color;
    font-weight: 600;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

picture,
img {
  display: block;
}

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  background-color: $eggshell;
  color: $wenge_brown;
}

b {
  font-weight: 700;
}

h1 {
  @include base-headers;
  font-size: 2.25rem;
  line-height: 2.3rem;
  color: $dark_charcoal;
  margin-bottom: 1.5rem;
}

h2 {
  @include base-headers;
  font-size: 1.5rem;
  color: $nutmeg;
  margin-bottom: 1.25rem;
}

p {
  margin-bottom: 1rem;
}

main {
  background-color: $white;
  max-width: 45rem;
  margin-inline: auto;

  @media (min-width: 45rem) {
    border-radius: 30px;
    margin-block: 4rem;
  }
}

section {
  margin-inline: 2.5rem;
  margin-block: 0;
  padding-block: 1.75rem;
}

section:not(:nth-last-of-type(1)) {
  border-color: $light_grey;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
}

picture {
  @media (min-width: 45rem) {
    padding-inline: 2.5rem;
    padding-top: 2.5rem;
  }
}

img.main-recipe-photo {
  width: 100%;
  aspect-ratio: 2/1;
  @media (min-width: 45rem) {
    border-radius: 15px;
  }
}

.highlight-container {
  @include thin-bullet-points($dark_raspberry);

  background-color: $rose_white;
  padding: 1.5rem;
  border-radius: 10px;
  margin-block: 2rem;

  h3 {
    font-weight: 600;
    color: $dark_raspberry;
    margin-bottom: 1rem;
  }
}

@include thin-bullet-points($nutmeg);
@include numeric-list($nutmeg);

table.vertical-table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  table-layout: fixed;

  td:nth-of-type(odd) {
    font-weight: 400;
  }

  td:nth-of-type(even) {
    font-weight: 600;
    color: $nutmeg;
  }

  td {
    padding-block: 1rem;
    padding-inline: 3ch;
  }

  tr:not(:nth-last-of-type(1)) {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $light_grey;
  }
}
